name: Release to NPM

on:
  push:
    branches: ["release"]
    paths-ignore:
      - "**.md"
  workflow_dispatch:

concurrency:
  group: "${{ github.ref }}-release"
  cancel-in-progress: true

jobs:
  publish:
    if: github.ref == 'refs/heads/release' && github.event_name == 'push'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: pnpm install
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Node.js setup
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish to NPM
        run: pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}